body {
  margin: 0 0;
  font-family: "Jura-Medium";
  font-size: 25px;
  color: white;
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

.my-svg {
    position: relative;
    animation-name: rotation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

@font-face {
  font-family: 'Jura-Medium';
  src: url(Jura-Medium.ttf);
}